<div class="body">
	<table class="table table-condensed">
		<tbody>
			<% for article in @articles %>
				<tr>
					<td class="boardname"><%= article.board.name %></td>
					<td class="title">
						<a href="<%= article_path(group_id: article.board.group.id, board_id: article.board.id, id: article.id) %>"> 
							<%= article.title %> 
							<% if article.comments.count > 0 %>
								<span class="comment_count">[<%= article.comments.count%>]</span>
							<% end %>
						</a>
						<span class="relative_time"> <%= article.relative_time %></span>
					</td>
					<td class="writer"><%= article.nickname  unless article.writer.nil?%></td>
					<td class="votecount">
						<% if article.article_type == "소꼬지" %>
							참석<%= article.attendances.count %>
						<% else %>
							좋아요 <%= article.likes.count %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

