<ul id="newsfeed">
  <% for feed in @all %>
    <% if feed.comment_id.nil? %>
      <% article = feed.article %>
      <li>
      <%= user_profile_tag(article.writer, :small => true) %>님이 <%= article.relative_time %>에 <%= link_to  article.title, article_path(group_id: article.board.group.id, board_id: article.board.id, id: article.id) %> 글을 작성하셨습니다.
      <div class="newsfeed-article">
        <%= raw article.body %>
      </div>
      </li>
    <% else %>
      <% article = feed.comment.article %>
      <li>
      <%= user_profile_tag(feed.comment.writer, :small => true) %>님이 <%= link_to article.title, article_path(group_id: article.board.group.id, board_id: article.board.id, id:article.id) %> 글에 댓글을 작성하셨습니다.
      <div class="newsfeed-article">
        <%= raw feed.comment.content %>
      </div>
      </li>
    <% end %>
  <% end %>
</ul>

<script>
  $('#newsfeed').infiniteScroll({
    url: '/all',
    beforeSend: function(){
      show_loading_image(); 
    },
    success: function(data){
      $('#newsfeed').append($(data).find('#newsfeed').children());
      hide_loading_image();
    }
  });
</script>
