<% content_for :head do %>
	<%= javascript_include_tag "jquery.masonry.min" %>

	<%= javascript_include_tag "responsiveslides.min" %>
	<%= stylesheet_link_tag "responsiveslides" %>

<% end %>
<div id="main_container">

	<div id="main_column_1">
		<div class="main_event">
			<%= image_tag "main/subhead_event.png", alt: "이벤트" %>
			<div id="event_list">
				<ul>
					<% for event in @events %>
						<% day = event.date.yday %>
						<% today = Time.now.yday %>

						<% if day - today == 2 || day - today == 1 %>
							<li><%= image_tag "main/icon_calendar.png", alt:"달력" %><a href="<%= article_path(group_id: event.board.group.id, board_id: event.board.id, id: event.id) %>">
								<%= event.title %>가 <%= day - today %>일 남았습니다.
							</a></li>
						<% elsif day - today == 0 %>
							<li><%= image_tag "main/icon_calendar.png", alt:"달력" %><a href="<%= article_path(group_id: event.board.group.id, board_id: event.board.id, id: event.id) %>">
								<%= event.title %>가 오늘입니다.
							</a></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>

		<div id="main_picture">
			<%= image_tag "main/subhead_photo.png", alt: "사진" %>
			<div id="main_picture_container">
				<div id="main_picture_screen">
					<div id="main_picture_screen_title"><%= @photos.first.article.title %></div>
					<div id="main_picture_screen_image">
						<%= link_to image_tag(@photos.first.main_thumb_url, :class => "screen_image"), article_path(@photos.first.article.board.group, @photos.first.article.board, @photos.first.article) %>
					</div>
				</div>

				<div id="main_picture_navigation">
					<ul>
						<li class="arrow"><%= link_to image_tag("main/widget_photo_arrow_up.png"), "#", :id => "photo_navigation_up_button" %>
						<% @photos.each_with_index do |photo, i| %>
							<li class="photo <%= (i == 0) ? "selected" : "" %>" title="<%= photo.article.title %>" href="<%= article_path(photo.article.board.group, photo.article.board, photo.article) %>" src="<%= photo.main_thumb_url %>"><%= image_tag photo.thumbnail_url %></li>
						<% end %>
						<li class="arrow"><%= link_to image_tag("main/widget_photo_arrow_down.png"), "#", :id => "photo_navigation_down_button" %>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- main_column_1 끝 -->
	</div>

	<div id="main_column_2">
		<div class="main_board">
			<%= image_tag "main/subhead_board.png", alt: "게시판" %>
			<div class="board">
				<div class="header">
					<%= image_tag "main/widget_lastest_all.png", alt: "전체최신글" %> 
				</div>

				<%= render :partial => 'board_body', :locals => {:@articles => @all_article} %>
			</div>
			<div class="board">
				<div class="header">
					<%= image_tag "main/widget_lastest_12.png", alt: "12학번 최신글" %>
				</div>
				<%= render :partial => 'board_body', :locals => {:@articles => @all_article} %>
			</div>
		</div>

		<!-- main_column_2 끝 -->
	</div>

	<div class="clear"></div>
</div>
