<% content_for :head do %>
  <%= javascript_include_tag "jquery.masonry.min" %>

  <%= javascript_include_tag "responsiveslides.min" %>
  <%= stylesheet_link_tag "responsiveslides" %>
  <style>

    #main_container {
      
      margin-top: 2em;
    }
    
    .main_event {
      float: left;
      width: 410px;
      margin: 10px;
    }

    .main_picture {
      float: left;
      width: 410px;
      margin: 10px;
    }

    .main_board {
      float: right;
      width: 430px;
      margin: 10px;
      margin-right: 80px;
    }

    div.main_board div.board {
      margin: 1em 0 1em 0;
    }

    div.main_board div.board div.header {
      width: 100%;
      border-bottom: 3px solid #E0DADA;
    }

    div.event_list {
      margin-top: 1em;
    }

    div.event_list ul {
      list-style: none;
    }

    div.event_list ul li a {
      color: #F94172;
    }



         </style>


<% end %>
<div id="main_container">
  <div class="box main_event">
    <%= image_tag "snumkg_main/subhead_event.png", alt: "이벤트" %>
    <div class="event_list">
      <ul>
      <% for event in @events %>
        <% day = event.date.yday %>
        <% today = Time.now.yday %>

        <% if day - today == 2 || day - today == 1 %>
          <li><%= image_tag "snumkg_main/icon_calendar.png", alt:"달력" %><a href="<%= article_path(group_id: event.board.group.id, board_id: event.board.id, id: event.id) %>">
            <%= event.title %>가 <%= day - today %>일 남았습니다.
          </a></li>
        <% elsif day - today == 0 %>
          <li><%= image_tag "snumkg_main/icon_calendar.png", alt:"달력" %><a href="<%= article_path(group_id: event.board.group.id, board_id: event.board.id, id: event.id) %>">
            <%= event.title %>가 오늘입니다.
          </a></li>
        <% end %>
      <% end %>
    </ul>
    </div>

  </div>

  <div class="box main_board">
    <%= image_tag "snumkg_main/subhead_board.png",alt: "게시판" %>
    <div class="board">
      <div class="header">
        <%= image_tag "snumkg_main/widget_lastest_all.png", alt: "전체최신글" %> 
      </div>

      <%= render :partial => 'board_body', :locals => {:@articles => @all_article} %>
    </div>
    <div class="board">
      <div class="header">
        <%= image_tag "snumkg_main/widget_lastest_12.png", alt: "12학번 최신글" %>
      </div>
      <%= render :partial => 'board_body', :locals => {:@articles => @all_article} %>
    </div>
  </div>

  <div class="box main_picture">
    <%= image_tag "snumkg_main/subhead_photo.png", alt: "사진" %>
    <ul class="rslides">
      <% for picture in @photos %>
        <li>
        <a href="<%= article_path(group_id: picture.article.board.group.id, board_id: picture.article.board.id, id: picture.article.id)%>">
          <%= image_tag picture.url, size: "410x250" %>

        </a>
        </li>
      <% end %>
    </ul>
   </div>
 </div>

 <script>


   $(document).ready(function() {
     $(".rslides").responsiveSlides({
       auto: true,             // Boolean: Animate automatically, true or false
       speed: 1000,            // Integer: Speed of the transition, in milliseconds
       timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
       pager: false,           // Boolean: Show pager, true or false
       nav: true,             // Boolean: Show navigation, true or false
       random: false,          // Boolean: Randomize the order of the slides, true or false
       pause: false,           // Boolean: Pause on hover, true or false
       pauseControls: false,   // Boolean: Pause when hovering controls, true or false
       prevText: "Previous",   // String: Text for the "previous" button
       nextText: "Next",       // String: Text for the "next" button
       maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
       controls: "",           // Selector: Where controls should be appended to, default is after the 'ul'
       namespace: "rslides",   // String: change the default namespace used
       before: function(){},   // Function: Before callback
       after: function(){}     // Function: After callback
     });
       });




</script>
