<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>회원가입</h3>
  </div>
  <div class="modal-body">

    <span class="red">*</span> 표시는 필수항목입니다.
    <%= form_for(@user, remote: true) do |f| %>
      <table id="new_user_table">
        <tr>
          <th>아이디<span class="red">*</span></th>
          <td><%= f.text_field :username, class: "error" %> <span class="red small"></span></td>
        </tr> <tr>
          <th>비밀번호<span class="red">*</span></th>
          <td><%= f.password_field :password %> <span class="red small"></span></td>
        </tr>
        <tr>
          <th>비밀번호 확인<span class="red">*</span></th>
          <td><%= f.password_field :password_confirmation %> <span class="red small"></span></td>
        </tr>
        <tr>
          <th>학번/학과<span class="red">*</span></th>
          <td><%= f.select :entrance_year, entrance_years, {}, style: "width:50px" %> <%= f.select :department, departments_hash.to_a.map{|x| x[0]}.sort, {}, style: "width:165px" %></td>
        </tr>
        <tr>
          <th>이름<span class="red">*</span></th>
          <td><%= f.text_field :name, :placeholder => "ex) 홍길동" %> <span class="small">실명으로 입력해주세요.</span></td>
        </tr>
        <tr>
          <th>닉네임</th>
          <td><%= f.text_field :nickname, readonly: true %> <span class="small">학과/계열 약자 + 학번 + 실명 형태입니다.</span></td>
        </tr>
      </table>

      <%= f.submit "가입하기", class: "btn" %>
    <% end %>
  </div>
</div>

