
<% content_for :head do %>
  <%= javascript_include_tag :user %>
  <%= javascript_include_tag "jquery.color" %>
<% end %>

<h1>알림 목록</h1>
<ul id="alarm_list" data-alarmcounts="<%=session[:alarm_counts]%>">
  <% unless @all_alarms.nil? %>
    <% @all_alarms.each_with_index do |alarms, index| %>
      <li class="<%= "new" if alarms[:new] %>">
        <%= show_alarm_messages(alarms[:alarms]) %>
        <%= alarm_messages_link(alarms[:alarms][0]) %>
      </li>
    <% end %>
  <% end %>

</ul>


