<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>


<%= form_for(@user) do |f| %>
  <%= f.label :password, '비밀번호 수정' %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, '비밀번호 확인' %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :nickname, '이름' %>
  <%= f.text_field :nickname %>
  <br />

  <%= f.submit "수정하기", class: "btn" %>
<% end %>
