<h1>회원가입</h1>

<% if @user.errors.any? %>
  <div id="error_message">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>

  <%= f.label :username, '아이디' %>
  <%= f.text_field :username %>

  <%= f.label :password, '비밀번호' %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, '비밀번호 확인' %>
  <%= f.password_field :password_confirmation %>

  <%= label_tag :phone_number_1, '연락처' %>
  <%= select_tag :phone_number_1, options_for_select([['010','010'],['011','011'],['016','016'],['017','017'],['019','019']]), class: "span1" %>
  <%= text_field_tag :phone_number_2, nil, class: "span1" %> <%= text_field_tag :phone_number_3, nil, class: "span1"%>
  연락처 공개<%= f.check_box :is_phone_number_public, {}, true, false %>

  <%= f.label :nickname, '이름' %>
  <%= f.text_field :nickname %>
  <br />

  <%= f.submit "가입하기", class: "btn" %>
<% end %>
