<%= content_for(:head) do %>
  <style>
    .profile_header {
      height: 60px;
    }
    .profile_header h1 {
      float: left;
    }
    .profile_header .send_message {
      position: relative;
      top: 10px;
      margin-left: 10px;
    }
  </style>
<% end %>

<div class="profile_header">
<h1><%=@user.nickname%> 님의 프로필</h1>
<span class="send_message"><%= link_to "쪽지보내기", new_message_path(receiver_id: params[:id]) %></span>
</div>
<%= image_tag @user.profile_image_url %>

<% if current_user == User.find(params[:id]) %>
  <%= form_tag(pictures_path(type: "profile"), multipart: true) do %>

    <%= file_field_tag :image%>
    <%= submit_tag "이미지 올리기"%>

  <% end %>
<% end %>


<hr />
<h2>댓글</h2>
<table class="table">
  <% for profile_comment in @profile_comments %>
    <tr>
      <td class="span2"><%= profile_comment.nickname %></td>
      <td><%= profile_comment.content %></td>
      <% if profile_comment.writer == current_user || current_user.id == profile_comment.profile_user_id %>
        <td><%= link_to "삭제", comment_path(profile_comment.id), method: :delete, confirm: "댓글을 삭제하시겠습니까?" %> </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= form_tag(profile_comment_path) do |f| %>
  <%= current_user.nickname %>
  <%= text_field_tag :content, nil, class: "span5" %>
  <%= hidden_field_tag :profile_user_id, params[:id] %>
  <%= submit_tag "댓글달기", class: "btn" %>
<% end %>
<%= link_to "프로필 수정", edit_user_path(@user) %>


