<%= content_for(:head) do %>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<%= javascript_include_tag 'jquery.ui.widget.js' %>
<!-- The Templates and Load Image plugins are included for the FileUpload user interface -->
<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
<script src="http://blueimp.github.com/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<%= javascript_include_tag 'jquery.iframe-transport' %>
<%= javascript_include_tag 'jquery.fileupload' %>
<%= javascript_include_tag 'jquery.fileupload-ui' %>
<%= stylesheet_link_tag 'jquery.fileupload-ui' %>
<!-- Bootstrap Image Gallery styles -->
<!-- modal view -->
<link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<!-- add include_tag js files to config.assets.precompile in ...environments/production.rb if you have it in vendor/ assets -->
<script type="text/javascript" charset="utf-8">

window.locale = {
    "fileupload": {
        "errors": {
            "maxFileSize": "File is too big",
            "minFileSize": "File is too small",
            "acceptFileTypes": "Filetype not allowed",
            "maxNumberOfFiles": "Max number of files exceeded",
            "uploadedBytes": "Uploaded bytes exceed file size",
            "emptyResult": "Empty file upload result"
        },
        "error": "Error",
        "start": "Start",
        "cancel": "Cancel",
        "destroy": "Delete"
    }
};
  $(function () {
      // Initialize the jQuery File Upload widget:
     

 


    // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload();
      // Load existing files:

      $("#fileupload").fileupload({
add: function (e, data) {
data.submit();
}
});

      });
</script>


<script>
  //글쓰기 클릭할 때 업로드된 이미지 parameter로 넘기기
  $(function(){
    $('#article_submit').click(function(){
      $('tr.template-download.fade.in > td.preview > a')
      .each(function(i,e){
        // album_new 일때
        if( $("#new_article").length != 0){
          $("#new_article").append('<input type="hidden" name="picture['+i+']" value="'+ $(e).attr("picture")+'"></input>');
        }
        else{
          $(".edit_article").append('<input type="hidden" name="picture['+i+']" value="'+ $(e).attr("picture")+'"></input>');
      }});
      });
  });</script>

<style>
  td.preview > a > img {
    width: 50%;
  }
</style>

<% end %>


<%= render 'article_form' %>
<%= form_for(Picture.new, :url => pictures_path(Picture.new, :type => "album"), :html => {:multipart => true, :id => "fileupload"}) do |f| %>
  <div class="row fileupload-buttonbar">
    <div class="span7">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>사진 선택하기</span>
        <input type="file" name="files[]" multiple>
      </span>
        <button type="button" class="btn btn-danger delete">
        <i class="icon-trash icon-white"></i>
        <span>선택삭제</span>
      </button>
      <input type="checkbox" class="toggle">all
    </div>
    <!-- The global progress information -->
    <div class="span5 fileupload-progress fade">
      <!-- The global progress bar -->
      <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="bar" style="width:0%;"></div>
      </div>
      <!-- The extended global progress information -->
      <div class="progress-extended">&nbsp;</div>
    </div>
  </div>
  <!-- The loading indicator is shown during file processing -->
  <div class="fileupload-loading"></div>
  <br>
  <!-- The table listing the files available for upload/download -->
  <table role="presentation" class="table table-striped">
    <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
      <% unless @pictures.nil? %>
        <% for picture in @pictures %>
          <tr class="template-download fade in">
            <td class="preview">
              <a href="<%=picture.url%>" title="<%=picture.name%>" rel="gallery" download="<%=picture.name%>" picture="<%=picture.id%>"><img src="<%=picture.url%>"></a>
            </td>
            <td class="name">
              <a href="<%=picture.url%>" title="<%=picture.name%>" rel="<%=picture.url%>gallery" download="<%=picture.name%>"><%=picture.name%></a>
            </td>
            <td class="size"><span><%=picture.size%></span></td>
            <td colspan="2"></td>
            <td class="delete">
              <button class="btn btn-danger" data-type="DELETE" data-url="<%= picture.url%>">
                <i class="icon-trash icon-white"></i>
                <span>삭제</span>
              </button>
              <input type="checkbox" name="delete" value="1">
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% end %>
<br>
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <a class="btn modal-download" target="_blank">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
      <i class="icon-play icon-white"></i>
      <span>Slideshow</span>
    </a>
    <a class="btn btn-info modal-prev">
      <i class="icon-arrow-left icon-white"></i>
      <span>Previous</span>
    </a>
    <a class="btn btn-primary modal-next">
      <span>Next</span>
      <i class="icon-arrow-right icon-white"></i>
    </a>
  </div>
</div>


<!-- IMPORTANT fade class makes fileupload depend on css transition effect REMOVE or RENAME it -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>업로드</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>취소</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumb_url) { %}
              <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}" picture="{%=file.id%}"><img src="{%=file.thumb_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumb_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>삭제</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>

