<%= render 'new_js_css_tag' %>

<%= form_for(@article) do |f| %>

  작성자 : <%= current_user.username %>
  <%= f.label :title, '제목' %>
  <%= f.text_field :title %>
  <%= f.check_box :is_notice, {}, true, false %>공지
  <a id="poll_btn" href="#" class="btn">설문조사</a>
  <div class="poll_hidden_box hidden"></div>
  <div class="poll_box"></div>
  <%= hidden_field_tag :article_type, @board.board_type %>
  <%= f.label :body, '내용' %>
  <%= f.text_area :body, class: "redactor_content" %>
  <br />
  <%= f.submit @article.new_record? ? "글쓰기" : "수정", class:"btn", id: "article_submit" %>

<% end %>


<script>
  $("#poll_btn").click(function(){
    window.open("/polls/new","child","width=600, height=600"); 
  });

  $("div.poll_box a").click(function(){
    $("div.poll_hidden_box").html(" ");
    $("div.poll_box").html(" ");

  });
</script>
