<%= render 'new_js_css_tag' %>
<%= form_for(@article, :html => {:class => "article-form"}) do |f| %>
  <%= hidden_field_tag :picture_ids %>

  <div>
    <%= f.text_field :title, :placeholder => "제목을 입력하세요." %>
    <%= f.check_box :is_notice, {}, true, false %> 공지
  </div>

  <!-- 소꼬지 날짜 입력 -->
  <% if @board.board_type == "소꼬지" %>
    <div>
      <%= f.text_field :date, id: "sokkoji_date", value: (@article.date) ? @article.date.strftime("%Y-%m-%d %H:%M") : ""  %>
    </div>
  <% end %>

  <%= f.text_area :body, class: "redactor_content" %>
  <%= f.submit @article.new_record? ? "글쓰기" : "수정", class: "btn" %>
<% end %>
