<% for @article in @articles %>
  <tr>
    <td>
      <%= @article.number %>
    </td>
    <td class="span7">
      <%= link_to @article.title, article_path(:group_id => params[:group_id], :board_id => params[:board_id], :id => @article) %>
      <span class="comment_number">
        [<%= @article.comments.count %>]
      </span>
      <span class="article_like_number">추천 <%= @article.likes.count %></span>

    </td>
    <td>
      <%= @article.created_at.strftime("%Y/%m/%d") %>
    </td>
    <td>
      <%= render :partial => 'shared/user_menu', :locals => {:writer => @article.writer, :size => "25x25"} %>
    </td>
  </tr>
<% end %>
