<style>
  .boxgrid{  
    width: 220px;  
    height: 220px;  
    margin:10px;  
    float:left;  
    background:#161613;  
    border: solid 2px #8399AF;  
    overflow: hidden;  
    position: relative;  
  }  

  .image_box {
    position: absolute;  
    width: 660px;
    top: 0;  
    left: 0;  
    border: 0;  

  }

  .image_box img {
    position: relative;
    float: left;
    width: 220px;

  }
    
    

  .boxcaption{  
    float: left;  
    position: absolute;  
    background: #000;  
    height: 70px;  
    width: 100%;  
    opacity: .8;  
    /* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
  }  

  .captionfull .boxcaption {  
    top: 160px;  
    left: 0;  
  }  

  .captionfull .boxcaption h4 {
    font-size: 105%;
    color: #eee; 
  }

  .choochun {
    font-size: 80%;

  }

  .caption .boxcaption {  
    top: 220;  
    left: 0;  
  }  

  .clear {
    clear: both;
  }
</style>

<div id="article_wrapper">

  <% for @article in @articles %>
    <div class="boxgrid captionfull">  
      <a href="<%= article_path(group_id: params[:group_id], board_id: params[:board_id], id: @article) %>">
        <div class="image_box">
          <% for image in @article.pictures[0..2] %>
            <%= image_tag image.thumbnail_url %>
          <% end %>
        </div>
        <div class="cover boxcaption">  
          <h4><%= @article.title %>
            <span class="comment_number">[<%= @article.comments.count%>]</span>
          <span class="choochun">추천 <%= @article.likes.count %></span>
          </h4>

          <p><%= @article.writer.nickname%><br /><%= @article.created_at.strftime("%y/%m/%d")%></p>
        </div>  
      </a>
    </div>  
<% end %>
<div class="clear">
</div>
  <% if current_user %>
    <%= link_to "글쓰기", new_article_path(:group_id => params[:group_id], :board_id => params[:board_id]), class: "btn" %>
  <% end %>
</div>

<%= render :partial => 'shared/pagination', :locals => {:@start_page => @start_page, :@end_page => @end_page, :type => "articles"} %>

<script>
  
  $(".image_box").hover(function(){
    
    var length = $(this).find("img").length;

    if(length >= 2){

      $(this).find("img").stop().animate({
        left: '-=220px' 
      })

    }
    console.log(length);
    }, function(){



      $(this).find("img").stop().animate({
        left: "0px"
      });
    });
</script>
