
<table id="article_box">
  <tr>
    <td>
      <span id="article_title"><%= @article.title %></span>
      <span class="article_like_number">추천 <%= @article.likes.count %></span>
    </td>
  </tr>
  <tr>
    <td><div id="article_body"><%= @article.body %></div></td>
  </tr>
  <% if signin? %>
    <tr>
      <td>
        <% if @article.liked_by?(current_user) %>
          <%= link_to "추천 취소", unlike_article_path(@article), :class => "unlike_article_btn" %>
        <% else %>
          <%= link_to "추천하기", like_article_path(@article), :class => "like_article_btn" %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><%= link_to "삭제하기", article_password_confirmation_path(group_name: params[:group_name], board_name: params[:board_name], id: @article.id) %></td>
    </tr>
  <% end %>
</table>
