
<table id="article_box">
  <tr>
    <td>
      <span id="article_title"><%= @article.title %></span>
      <span id="alm" class="article_like_number">좋아요 <%= @article.likes.count %></span>
      <span class="article_writer">작성자: <%= @article.anonymous_name%></span>
    </td>
  </tr>
  <tr>
    <td><div id="article_body"><%= @article.body.html_safe %></div></td>
  </tr>
  <% if signin? %>
    <tr>
      <td>
        <span id="like_box">
          <%= render :partial => 'shared/like_btn', :locals => {:obj => @article, :type => "article"} %>
        </span>
      </td>
    </tr>

    <tr>
      <td><%= link_to "삭제하기", article_password_confirmation_path(group_id: params[:group_id], board_id: params[:board_id], id: @article.id) %></td>
    </tr>
    <tr>
      <td>
        <%= render 'comments/show_anonymous_comments', :locals => {:@comments => @comments} %>
      </td>
    </tr>
    <tr>
      <td>
        <%= render 'comments/write_anonymous_comment', :locals => {:@comment => @comment} %>
      </td>
    </tr>
  <% end %>
</table>
