<div id="article_wrapper">
	<table id="article_list">
		<thead>
			<th class="span1">번호</th>
			<th class="span5">제목</th>
			<th class="span2">작성일</th>
			<th class="span2">작성자</th>
		</thead>
		<tbody>
			<% for @notice in @notices %>
				<tr class="notice">
					<td>
						공지<%= @notice_index %> <% @notice_index = @notice_index - 1 %>
					</td>
					<td class="span7">
						<%= link_to @notice.title, article_path(:group_id => params[:group_id], :board_id => params[:board_id], :id => @notice) %>
						<span class="comment_number">
							[<%= @notice.comments.count %>]
						</span>
						<span class="article_like_number">추천 <%= @notice.likes.count %></span>

					</td>
					<td>
						<%= @notice.created_at.strftime("%Y/%m/%d") %>
					</td>
					<td>
            <%= render :partial => 'shared/user_menu', :locals => {:writer => @notice.writer, :size => "25x25"} %>
					</td>
				</tr>
			<% end %>
			<%= render 'show' %>
		</tbody>
	</table>

	<% if current_user %>
		<%= link_to "글쓰기", new_article_path(:group_id => params[:group_id], :board_id => params[:board_id]), :class => "btn" %>
	<% end %>

  <%= render :partial => 'shared/pagination', :locals => {:@start_page => @start_page, :@end_page => @end_page} %>

</div>

<script>
  //Pagination을 위한 작업
  var a = <%= params[:page]%5 %>;
  if(a == 0){ a = 5;};

  var arr = $("div.pagination ul li");
  $(arr[a]).addClass("active");


</script>
