
<table id="article_box">
  <tr>
    <td>
      <span id="article_title"><%= @article.title %></span>
      <span id="alm" class="article_like_number">좋아요 <%= @article.likes.count %></span>
      <span class="article_writer">작성자:<%= @article.nickname%> </span>
    </td>
  </tr>
  <tr>
    <td><div id="article_body"><%= @article.body.html_safe %></div></td>
  </tr>
  <% if signin? %>
    <tr>
      <td>
        <span id="like_box">
          <%= render :partial => 'shared/like_btn', :locals => {:obj => @article, :type => "article"} %>
        </span>
        <% if current_user == @article.writer %>
          <span>
            <%= link_to "수정하기", edit_article_path(group_id: params[:group_id], board_id: params[:board_id], id: @article) %>
          </span>
          <span>
            <%= link_to "삭제하기", article_path(board_id: params[:board_id], group_id: params[:group_id], id: @article), :method => "delete",  :confirm => "정말로 삭제하시겠습니까?" %>
          </span>
        <% end %>

      </td>
    </tr>

  <% end %>
  <tr>
    <td id="article_like_list">
      <% for like in @article.likes %>
        <%= like.user.nickname %> 
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @article.article_type == '익명' %>
        <%= render 'comments/show_anonymous_comments', :locals => {:@comments => @comments} %>
      <% else %>
        <%= render 'comments/show_comments', :locals => {:@comments => @comments}%>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @article.article_type == '익명' %>
        <%= render 'comments/write_anonymous_comment', :locals => {:@comment => @comment} %>
      <% else %>
        <%= render 'comments/write_comment', :locals => {:@comment => @comment, :@article => @article} %>
      <% end %>
    </td>
  </tr>
</table>
