<table id="article_box">
  <tr>
    <td>
      <span id="article_title"><%= @article.title %></span>
      <span class="article_like_number">참석 <%= @article.attendances.count %></span>
      <span class="article_writer">작성자:<%= @article.nickname%> </span>
    </td>
  </tr>
  <tr>
    <td><div id="article_body"><%= @article.body.html_safe %></div></td>
  </tr>
  <% if signin? %>
    <tr>
      <td>
        <span id ="attendance_box">
          <%= render :partial => 'attendances/attendance_btn', :locals => {:obj => @article} %>
        </span>
        <% if current_user == @article.writer %>
          <span>
            <%= link_to "수정하기", edit_article_path(group_id: params[:group_id], board_id: params[:board_id], id: @article) %>
          </span>
          <span>
            <%= link_to "삭제하기", article_path(board_id: params[:board_id], group_id: params[:group_id], id: @article), :method => "delete",  :confirm => "정말로 삭제하시겠습니까?" %>
          </span>
        <% end %>

      </td>
    </tr>

  <% end %>
  <tr>
    <td id="attendance_list">
       <% for attendance in @article.attendances %>
          <%= attendance.user.nickname %> 
       <% end %>
       <%= "님이 참석합니다." unless @article.attendances.count == 0%>
    </td>
  </tr>
  <tr>
  <td>
    <%= render 'comments/show_comments', :locals => {:@comments => @comments}%>
  </td>
  </tr>
  <tr>
  <td>
    <%= render 'comments/write_comment', :locals => {:@comment => @comment, :@article => @article} %>
</td>
  </tr>
</table>
