<%= content_for(:head) do %>
  <%= javascript_include_tag "fullcalendar" %>
  <%= stylesheet_link_tag    "fullcalendar" %>

  <%= stylesheet_link_tag "jquery-ui-1.8.21.custom" %>
  <%= javascript_include_tag "jquery-ui-1.8.21.custom.min" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "sokkoji_calendar" %>

<% end %>

<div id="calendar"></div>

<div style="display: none;">
<table id="sokkoji_article" class="table table-striped">
  <thead>
    <tr>
      <th class="span1">번호</th>
      <th class="span4">제목</th>
      <th>소꼬지날짜</th>
      <th class="span1">작성자</th>
    </tr>
  </thead>
  <tbody>
  <% for article in @articles %>
    <tr title="<%= article.title%>" writer="<%= article.nickname%>" day="<%= article.date %>" url="<%= article_path(group_id: params[:group_id], id: article) %>">
      <td><%= article.number %></td>
      <td>
        <%= link_to article.title, article_path(:group_id => params[:group_id], board_id: params[:board_id], :id => article) %>
        <span class="comment_number">
          [<%= article.comments.count %>]
        </span>
        <span class="sokkoji_attendance_number">
          참석 <%= article.attendances.count %>
        </span>
      </td>
      <td>
        <span class="sokkoji_day<%= article.number %>"><%= article.date %></span>
      </td>
      <td>
         <span class="sokkoji_writer<%= article.number %>"> <%= article.nickname %></span>
      </td>
    </tr>

  <% end %>
</tbody>
</table>


<% if current_user %>
  <%= link_to "글쓰기", new_article_path(board_id: params[:board_id], group_id: params[:group_id]) %>
<% end %>
</div>
