<table id="article_box">
  <tr>
    <td>
      <span id="article_title"><%= @article.title %></span>
      <span class="article_like_number">참석 <%= @article.attendances.count %></span>
      <span class="article_writer">작성자:<%= @article.writer.nickname%> </span>
    </td>
  </tr>
  <tr>
    <td><div id="article_body"><%= @article.body %></div></td>
  </tr>
  <% if signin? %>
    <tr>
    <td>
    <% if @article.attendanced_by?(current_user) %>
      <%= link_to "참석 취소", destroy_attendance_path(@article), :class => "unlike_article_btn", confirm: "참석을 취소하시겠습니까?" %>
    <% else %>
      <%= link_to "참석하기", create_attendance_path(@article), :class => "like_article_btn" %>
    <% end %>
    <% if current_user == @article.writer %>
      <span>
      <%= link_to "수정하기", edit_article_path(group_name: params[:group_name], board_name: params[:board_name], id: @article) %>
      </span>
      <span>
      <%= link_to "삭제하기", article_path(group_name: params[:group_name], board_name: params[:board_name], id: @article), method: "delete", confirm: "정말로 삭제하시겠습니까?" %>
      </span>
    <% end %>

    </td>
    </tr>

  <% end %>
  <tr>
    <td>
       <% for attendance in @article.attendances %>
          <%= attendance.user.nickname %> 
       <% end %>
       <%= "님이 참석합니다." unless @article.attendances.count == 0%>
    </td>
  </tr>
  <tr>
  <td>
  <!--   render 'comments/show_comments', :locals => {:@comments => @comments}%>-->
  </td>
  </tr>
  <tr>
  <td>
  <!--  render 'comments/write_comment', :locals => {:@comment => @comment, :@article => @soarticle} %>-->
</td>
  </tr>
</table>
