<% content_for(:head) do %>
  <%= javascript_include_tag :comments %>
  <%= stylesheet_link_tag    :comments %>
<% end %>


<table id="show_comments_box">
  <tr>
    <td class="bold">댓글</td>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td>
        <span class="comment_writer">
          <%= comment.writer.nickname %> 
        </span>
        <span>
          <%= comment.content %>  
        </span>
        <span class="comment_like_number">
          추천<%= comment.likes.count %>
        </span>
        <% if signin? %>
          <span>
            <% if comment.liked_by?(current_user) %>
              <%= link_to "추천취소", unlike_comment_path(comment.id) %>
            <% else %>
              <%= link_to "추천하기", like_comment_path(comment.id) %>
            <% end %>
          </span>
        <% end %>
        <span>
          <%= show_like_user(comment) %>
        </span>
        <ul class="like_comment_list" data-id="<%= comment.id%>">
          <% list = comment.likes.map {|like| like.user.nickname} %>
          <% list.shift %>
          <% for name in list %>
            <li><%= name %></li>
          <% end %>
        </ul>
        <div class="modal hide" data-id="modal<%=comment.id%>">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>추천한 사람들</h3>
          </div>
          <div class="modal-body">
            <% list = comment.likes.map {|like| like.user.nickname} %>
            <% list.shift %>
            <ul>
              <% for name in list %>
                <li><%= name %></li>
              <% end %>
            </ul>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">닫기</a>
          </div>
        </div>
        <% if current_user == comment.writer %>
          <%= link_to "삭제", comment_path(comment), method: "delete", confirm: "댓글을 삭제하시겠습니까?" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

