<%= content_for(:head) do %>
  <%= javascript_include_tag "fullcalendar" %>
  <%= stylesheet_link_tag    "fullcalendar" %>

  <%= stylesheet_link_tag "jquery-ui-1.8.21.custom" %>
  <%= javascript_include_tag "jquery-ui-1.8.21.custom.min" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "sokkoji_calendar" %>

<% end %>

<div id="calendar"></div>

<table id="sokkoji_article" class="table table-striped">
  <thead>
    <tr>
      <th class="span1">번호</th>
      <th class="span4">제목</th>
      <th>소꼬지날짜</th>
      <th class="span1">작성자</th>
    </tr>
  </thead>
  <tbody>
  <% for sokkoji_article in @sokkoji_articles %>
    <tr title="<%= sokkoji_article.title%>" writer="<%= sokkoji_article.writer.nickname%>" day="<%= sokkoji_article.date %>" url="<%=sokkoji_article_path(group_name: params[:group_name], id: sokkoji_article) %>">
      <td><%= @index %><% @index = @index - 1%></td>
      <td>
        <%= link_to sokkoji_article.title, sokkoji_article_path(:group_name => params[:group_name], :id => sokkoji_article) %>
        <span class="comment_number">
          [<%= sokkoji_article.comments.count %>]
        </span>
        <span class="sokkoji_attendance_number">
          참석 <%= sokkoji_article.attendances.count %>
        </span>
      </td>
      <td>
        <span class="sokkoji_day<%=@index%>"><%= sokkoji_article.date %></span>
      </td>
      <td>
         <span class="sokkoji_writer<%=@index%>"> <%= sokkoji_article.writer.nickname %></span>
      </td>
    </tr>

  <% end %>
</tbody>
</table>


<% if current_user %>
  <%= link_to "글쓰기", new_sokkoji_article_path(:group_name => params[:group_name]) %>
<% end %>


