<div class="navbar" id="top_navigation">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active">
        <%= link_to "MKG", root_path %>
        </li>
        <% for tab in @tabs %>
          <li><%= link_to tab.name, "/#{tab.name}" %></li>
        <% end %>
      </ul>
      <ul class="nav pull-right">
        <% if current_user %>
          <li>
            <%= link_to "알림[#{current_user.occured_alarm_count}]",user_alarms_path %>
          </li>
          <li>
          <%= link_to current_user.nickname, user_path(current_user) %>
          </li>
          <li><%= link_to "로그아웃", signout_path %></li>
        <% else %>
          <li><%= link_to "로그인", signin_path %></li>
          <li><%= link_to "회원가입", signup_path %></li>
        <% end %>
      </ul>

    </div>
  </div>
</div>


