<!DOCTYPE html>
<html>
<head>
  <title>Snumkg</title>
  <%= stylesheet_link_tag    "home", controller_path, :media => "all" %>
  <%= javascript_include_tag "jquery", "jquery_ujs" %>
  <%= javascript_include_tag "home", controller_path %>
  <%= javascript_include_tag "bootstrap-modal" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>
