<!DOCTYPE html>
<html>
<head>
  <title>Snumkg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div id="wrapper">
    <div class="navbar" id="top_navigation">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active">
            <%= link_to "MKG", root_path %>
            </li>
            <% for tab in @tabs %>
              <li><%= link_to tab.name, "/#{tab.url_name}" %></li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>

    <div id="content_wrapper">
      <%= yield %>
    </div>
  </div>
</body>
</html>
