<!DOCTYPE html>
<html>
<head>
  <title>Snumkg<%="[#{current_user.new_alarm_count if current_user}]" %></title>
  <%= render 'layouts/layout_css_js_tag' %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/new_navi' %>

    <%= render 'shared/error_messages' %>
    <%= render 'layouts/success_message' %>
    <div id="content_wrapper">
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
    <%= render :partial => 'shared/signup', :locals => {:@user => @new_user} %>
  </div>
</body>
</html>
