<!DOCTYPE html>
<html>
<head>
  <title>Snumkg<%="[#{current_user.alarm_counts if current_user}]" %></title>
  <%= stylesheet_link_tag    "home", controller_path, :media => "all" %>
  <%= javascript_include_tag "jquery", "jquery_ujs" %>
  <%= javascript_include_tag "home", controller_path %>
  <%= javascript_include_tag "bootstrap-modal" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/new_navi' %>

    <%= render 'shared/profile_dialog' %>
    <%= render 'shared/error_messages' %>
    <%= render 'layouts/success_message' %>
    <div id="content_wrapper">
      <div id="content">
<%= link_to "보낸쪽지함", messages_path(type: "send") %> | <%= link_to "받은쪽지함", messages_path(type: "receive") %>
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
