<% content_for :head do %>
	<script type="text/javascript">
		var uid = "<%= Digest::SHA1.hexdigest(Random.rand.to_s) %>";
		var user_id = "<%= @user.id %>";
		var nickname = "<%= @user.nickname.gsub(/"/, "\"") %>";
		var profile_thumb_url = "<%= raw picture_path(:id => @user.id, :thumb =>"thumb", :type =>"profile") %>";
	</script>
<% end %>

<div id="lobby_wrapper">
	<div id="lobby_buttons">
		<%= link_to "방만들기", "#", :class => "btn btn-large", :id => "create_room_button" %>
	</div>

	<table id="room_list" class="table">
		<thead>
			<tr>
				<th class="title">방제목</th>
				<th class="master">방장</th>
				<th class="button">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

</div>

<div id="room_wrapper">
	<div id="room_left">
		<div id="room_messages">
		</div>
		<div id="room_message_wrapper">
			<form id="room_message_form">
				<%= text_field_tag "room_message_text" %>
				<%= submit_tag "쓰기" %>
				<%= link_to "나가기", "#", :id => "quit_room_button"%>
			</form>
		</div>
	</div>
	<div id="room_right">
		<h3>참가자</h3>
		<div id="room_user_list">
		</div>
	</div>
	<div class="clear"></div>
</div>

<!-- 모달뷰 -->
<div class="modal hide" id="create_room_dialog">
	<form id="create_room_form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>방만들기</h3>
		</div>
		<div class="modal-body">
			<table class="table">
				<tr>
					<th>방제목</th>
					<td><%= text_field_tag "room_title", nil %></td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<%= link_to "취소", "#", :class => "btn", "data-dismiss" => "modal" %>
			<%= submit_tag "만들기", :class => "btn btn-primary", :id => "create_room_submit_button" %>
		</div>
	</form>
</div>

